.default {
  position: relative;

  > div {
    display: grid;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: var(--bd-rd-element);
    position: absolute;
    background-color: hsl(var(--bgc-element));
  }
}
