.spinner--default {
  width: 2rem;
  height: 2rem;
  border: 8px solid grey;
  border-top-color: black;
  border-radius: 50%;
  animation: spinner 1s ease-in-out infinite;
}

@keyframes spinner {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
