.default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem var(--p-inline-container);
  background-color: hsl(var(--bgc-nav));

  > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: var(--fw-heading-sub);
  }
}
