/* Custom properties */
:root {
  /* Box model */
  --min-w-icon: 1rem;
  --max-w-content: 80rem;
  --w-icon: 1.5rem;
  --p-inline-container: 1.5rem;
  --flow-spacing: 1em;

  /* Grid */
  --auto-grid-column-w: 20rem;

  --macro-grid-breakout-max-w: var(--max-w-content);
  --macro-grid-content-max-w: 60rem;
  --macro-grid-breakout-column-w: calc(
    (var(--macro-grid-breakout-max-w) - var(--macro-grid-content-max-w)) / 2
  );
  --macro-grid-p-inline: 2rem;

  /* Typography */
  --ff-root: system-ui, sans-serif;

  --fw-root: 300;
  --fw-heading-sub: 600;
  --fw-heading-main: 800;

  --fs-root: 0.875rem;
  --fs-detail-page: 1rem;

  /* Colors */
  --c-root: 200 15% 8%;
  --c-input: 0 0% 52%;

  --bgc-root: 0 0% 98%;
  --bgc-nav: 0 0% 100%;
  --bgc-element: 0 0% 100%;

  /* Transition */
  --transition-duration: 0.5s;
}

.dark {
  /* Dark mode */
  --c-root: 0 0% 100%;

  --bgc-root: 207 26% 17%;
  --bgc-nav: 209 23% 22%;
  --bgc-element: 209 23% 22%;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

body {
  flex-grow: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

/* Root styles */
#root {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100svh;
  font-family: var(--ff-root);
  font-weight: var(--fw-root);
  font-size: var(--fs-root);
  color: hsl(var(--c-root));
  background-color: hsl(var(--bgc-root));
}
